<h1>
  {{'email.title' | translate}}
  <span
    class = "color {{chosenColor.colorClass}}">
    {{chosenColor.colorName | translate}}
  </span> ?
</h1>

<span fxFlex></span>

<div
  fxLayout = column>
  <label>{{'email.label' | translate}}</label>
  <input
    type = email>
</div>

<label>
  <input type="checkbox">
  {{'email.newsletter' | translate}}
</label>

<button
  fxFlexAlign = center
  class = button--big
  (click) = submit()>
  {{'email.submit' | translate}}
</button>

<span fxFlex></span>

<button
  fxFlexAlign = flex-end
  (click) = answer()>
  {{'email.skip' | translate}}
</button>
