<h1>
  {{'email.title' | translate}}
  <span
    class = "color {{chosenColor.colorClass}}">
    {{chosenColor.colorName | translate}}
  </span> ?
</h1>

<span fxFlex></span>

<form
  [formGroup] = form >
  <div
    fxLayout = column>
    <label>{{'email.label' | translate}}</label>
    <input
      type = email
      formControlName = email>
  </div>
  
  <label>
    <input
      type="checkbox"
      formControlName = newsletter>
    {{'email.newsletter' | translate}}
  </label>
  
  <div
    fxLayout = row
    fxLayoutAlign = "center center">
    <button
      class = button--big
      (click) = answer()>
      {{'email.submit' | translate}}
    </button>
  </div>
</form>

<span fxFlex></span>

<span
  class = button
  fxFlexAlign = flex-end
  (click) = answer()>
  {{'email.skip' | translate}}
</span>
