@import '../vars';

button,
.button{
  min-height: $tap-size;
  min-width: $tap-size;
  line-height: $tap-size;
  background: $button__background-color;
  color: $button__text-color;
  text-align: center;
  margin-right: $grid-gutter;
  border: 0;

  &:last-child{
    margin-right: 0;
  }
}

.button--round{
  border-radius: $tap-size/2;
  width: $tap-size;
}