@import '../vars';

$button-size: $tap-size - 2*$grid-gutter;

button,
.button{
  min-height: $button-size;
  min-width: $button-size;
  line-height: $button-size;
  background: $button__background-color;
  color: $button__text-color;
  text-align: center;
  margin-right: $grid-gutter;
  border: 0;
  padding: $grid-gutter;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size--base;
  line-height: $font-size--base;

  &:last-child{
    margin-right: 0;
  }

  &.selected{
    background: $highlight-color;
  }
}

.button--round{
  border-radius: $tap-size/2;
  width: $button-size;
}

.button--big{
  min-height: $button-size*2;
}