@import '../vars';

.screen{
  background: $screen__background-color;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;

  h1{
    margin-bottom: $grid-gutter*2;
  }
}

.holder{
  width: 100%;
  display: flex;
}