@import 'src/assets/styles/vars';


:host{
  padding: 2*$grid-gutter;
  display: flex;
  position: relative;
  height: calc(100vh - #{4*$grid-gutter});
  transition: background 1s;
}

lb-language-selector,
.controls{
  z-index: 1;
  position: absolute;
  bottom: 2*$grid-gutter;
}

lb-language-selector{
  right: 2*$grid-gutter;
}

.controls{
  left: 2*$grid-gutter;
}

lb-countdown-timer{
  margin-bottom: $grid-gutter;
}