@import 'src/assets/styles/vars';


:host{
  padding: $grid-gutter;
  font-family: $content__font;
  display: flex;
  height: 100%;
}

figure,
img{
  height: 100%;
  width: 100%;
}

img{
  // border: $photo-frame--size solid $photo__background-color;
  // box-shadow: $photo-shadow--size $photo__shadow-color;
  object-fit: contain;
  
  :host(.selected) &{
    border-color: $highlight-color;
  }
}

.author{
  padding: $grid-gutter/2;
  display: inline-block;
  font-size: $font-size--small;
}

figure{
  position: relative;
  text-align: center;
  
  :host(.disabled) &{
    opacity: .4;
  }
}

figcaption{
  background: $photo__background-color;
  position: relative;
  top: -3*$grid-gutter;
  display: inline-block;

  :host(.selected) &{
    background: $highlight-color;
  }
}