@import 'src/assets/styles/vars';

.words{
  width: 100%;

  .button,
  button{
    margin-bottom: $grid-gutter;

    &:nth-child(2n){
      margin-right: 0;
    }
  }
}

.photos{
  height: 50%;
  padding-bottom: 2*$grid-gutter;
}