<h1>
  {{ 'tagByWord.title' | translate }}
</h1>

<div
  class = photos
  fxLayout = row
  fxLayoutAlign = "center center">
  <lb-photo
    [selected] = "selectedPhoto === photo.id"
    [disabled] = isAlreadyMatchedPhoto(photo)
    (click) = selectPhoto(photo)
    fxFlex = 25
    *ngFor = "let photo of photos"
    [photo] = photo>
  </lb-photo>
</div>

<div
  fxLayout = column
  fxLayoutAlign = "space-around center">
  <div
    class = words
    fxLayout = row
    fxLayoutWrap = wrap
    fxLayoutAlign = "center center">
    <div
      fxFlex = 35
      class = "button word button--big"
      [class.selected] = "selectedWord === word"
      [class.disabled] = isAlreadyMatchedWord(word)
      (click) = selectWord(word)
      *ngFor = "let word of words">
      {{ 'photo.word.'+word | translate }}
    </div>
  </div>
  
  <button
    (click) = reset()>
    {{'btn.reset' | translate}}
  </button>
</div>