/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/reset';

@import 'assets/styles/vars';
@import 'assets/styles/partials';


html,
body{
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: $background-color;

  font-family: $content__font;
}

.disabled{
  pointer-events: none;
}

h1,
h2,
h3{
  font-family: $title__font;
}

// improve with iterator
h1{
  font-size: $font-size--h1;
}

h2{
  font-size: $font-size--h2;
}

h3{
  font-size: $font-size--h3;
}

h4{
  font-size: $font-size--h4;
}

h5{
  font-size: $font-size--h5;
}

h6{
  font-size: $font-size--h6;
}