$primary-color: black;
$highlight-color: #f06;
$background-color: white;

$button__background-color: $primary-color;
$button__text-color: $background-color;

$screen__background-color: $background-color;

$photo__shadow-color: rgba($primary-color,.1);
$photo__background-color: $background-color;